/* 載入字型 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional");

/*移除瀏覽器預設*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior:smooth;
}

body {
  background-color: #f6f7f8;
  font-family: "Noto Sans TC", sans-serif;
  /* 設定字型 */
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}

p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* 拿掉底線 */
}



/*基本樣式設定*/
/*設定區塊寬度一致並置中*/
.container {
  width: 85%;
  margin: 0 auto 3rem auto;
}

/* 共用按鈕樣式 */
.action {
  color: white;
  background: #39bae6;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  transition: all 0.1s linear;
}

.action:hover {
  background: #267c99;
  /* 陰影 */
  -webkit-box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/*********Main Header*********/

header {
  /*positioning*/
  position: fixed;
  z-index: 999;
  /*content*/
  width: 100%;
  height: 60px;
  text-align: center;
  background: #ffffff;
  /*note:陰影*/
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  /*content*/
  color: #267b98;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 60px;
}

.nav {
  /*positioning*/
  position: absolute;
  /*block*/
  top: 100%;
  width: 100%;
  /*content*/
  background: #ffffff;
  /*animation*/
  transition: transform .2s ease-out;

  transform: scale(1, 0);
  transform-origin: top;
}

.nav-toggle {
  /*positioning*/
  display: none;
}

.nav-item {
  /*block*/
  margin: 1.4rem;
  /*content*/
  opacity: 0;
  /*animation*/
  transition: opacity 0.2s ease-out 0.15s;
}

.nav-link {
  /*content*/
  color: #267b98;
}

.navbar-toggle-label {
  /*positioning*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 7.5%;

  display: flex;
  align-items: center;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  /*content*/
  height: 3px;
  width: 30px;
  background: #267b98;
}

.hamburger {
  /*positioning*/
  position: relative;
}

.hamburger::before,
.hamburger::after {
  /*positioning*/
  position: absolute;
  left: 0;
  /*content*/
  content: " "
}

.hamburger::before {
  /*positioning*/
  bottom: 8px;
}

.hamburger::after {
  /*positioning*/
  top: 8px;
}

/*==animation==*/
.nav-toggle:checked~.nav {
  /*content*/
  transform: scale(1, 1);
}

.nav-toggle:checked~.nav .nav-item {
  /*content*/
  opacity: 1;
}

.banner-wrapper {
  /*positioning*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
  grid-gap: 0.5rem;
  grid-template-areas:
    "main main main main"
    "left left right right";
  /*block*/
  padding-top: 92px;
}

.main-banner {
  /*positioning*/
  grid-area: main;
  /*content*/
  background-image: url("https://images.unsplash.com/photo-1520087619250-584c0cbd35e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1285&q=80");
}

.sub-banner-left {
  /*positioning*/
  grid-area: left;
  /*content*/
  background-image: url("https://images.unsplash.com/photo-1569809317138-8d2ff6060c4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
}

.sub-banner-right {
  /*positioning*/
  grid-area: right;
  /*content*/
  background-image: url("https://images.unsplash.com/photo-1535294435445-d7249524ef2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
}

/*********Activity*********/

.main-banner,
.sub-banner {
  /*positioning*/
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  /*block*/
  padding: 1rem;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

.banner-title {
  /*block*/
  margin-bottom: 0.4rem;
}

.main-banner .banner-title {
  /*content*/
  font-size: 2rem;
  color: #1a5366;
}

.banner-description {
  /*block*/
  margin-bottom: 1rem;
  /*content*/
  font-weight: 600;
}

.main-banner .banner-description {
  /*content*/
  color: #267b98;
  font-size: 1rem;
}

.sub-banner .action {
  /*block*/
  padding: 0.25rem 1rem;
  /*content*/
  font-size: 1rem;
}

.sub-banner .banner-title,
.sub-banner .banner-description {
  /*content*/
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

/*********Album*********/
.album-wrapper {
  /*position*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto, 250px);
  grid-gap: 1.5rem;
  /*block*/
  width: 100%;
}

.card {
  /*position*/
  position: relative;
  /*block*/
  overflow: hidden;
  /*content*/
  background-color: #a9a9a9;
  /*陰影*/
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

.card-img {
  /*position*/
  background-position: top;
  background-size: cover;
  /*block*/
  width: 100%;
  height: 300px;
  /*content*/
  opacity: 1;
  /*animation*/
  transition: opacity 0.3s ease-out;
}

.card-text {
  /*position*/
  position: absolute;
  /*block*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /*content*/
  opacity: 0;
  color: #fff;
  /*animation*/
  transition: opacity 0.3s ease-out;
}

.card:hover .card-text {
  /*content*/
  opacity: 1;
}

.card:hover .card-img {
  /*content*/
  opacity: 0.4;
}

.card::before,
.card::after {
  /*position*/
  position: absolute;
  /*content*/
  content: " ";
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  /*animation*/
  transition: transform 0.4s ease-out;
}

.card::before {
  /*content*/
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  /*animation*/
  transform: scale(0, 1);
}

.card::after {
  /*content*/
  border-left: 1px solid white;
  border-right: 1px solid white;
  /*animation*/
  transform: scale(1, 0);
}

.card:hover::before {
  /*animation*/
  transform: scale(1.05, 1);
}

.card:hover::after {
  /*animation*/
  transform: scale(1, 1.05);
}

.card-title {
  /*content*/
  font-size: 1.5rem;
  margin-bottom: 0.2em;
}

.card-description {
  /*content*/
  font-size: 1rem;
}

/*********Adoption*********/

.adoption-wrapper {
  /*position*/
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 135px;
  grid-gap: 1rem;
  /*block*/
  align-items: center;
  text-align: center;
  /*content*/
  width: 100%;
  background: #fff;
  /*陰影*/
  -webkit-box-shadow: 2px 10px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 10px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 10px 12px 0px rgba(0, 0, 0, 0.1);
}

.adoption-image {
  /*content*/
  width: 100%;
}

.adoption-info {
  /*block*/
  padding: 1.2rem;
}

.adoption-info .title {
  /*block*/
  margin-bottom: 0.4rem;
  /*content*/
  font-size: 1.75rem;
  color: #267c99;
}

.adoption-info .description {
  /*block*/
  margin-bottom: 0.9rem;
  /*content*/
  font-size: 1rem;
  color: #5e5c5c;
}

/*********Footer*********/

footer{
  /*block*/
  text-align: center;
  padding: 1rem;
  /*content*/
  width: 100%;
  background: #4a4a4a;
  color: white;
  letter-spacing: 2px;
} 

/********* 電腦版樣式 *********/
@media screen and (min-width: 768px) {
  /**=====Main Header=====**/

  .action {
    /*content*/
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
  }

  .navbar-toggle-label {
    /*positioning*/
    display: none;
  }

  .nav {
    all: unset;
  }

  .nav-item {
    /*block*/
    margin: 0;
    /*content*/
    opacity: 1;
  }

  header {
    /*positioning*/
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .navbar-brand {
    /*positioning*/
    grid-column: 2/3;
  }

  .nav {
    /*positioning*/
    grid-column: 3/4;
  }

  .nav-list {
    /*positioning*/
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    grid-gap: 2rem;
    /*block*/
    height: 100%;
  }

  /**=====Activity=====**/

  .banner-wrapper {
    /*positioning*/
    grid-template-areas:
      "main main main left"
      "main main main right";
    grid-gap: 1.5rem;
  }

  .main-banner {
    /*positioning*/
    justify-content: center;
    align-items: flex-start;
  }

  .main-banner .banner-title {
    /*content*/
    font-size: 4rem;
  }

  .main-banner .banner-description {
    /*content*/
    font-size: 2rem;
  }

  .sub-banner .banner-title {
    /*content*/
    font-size: 2rem;
  }

  .sub-banner .action {
    /*content*/
    font-size: 1.2rem;
  }

  /**=====Adaption=====**/
  .adoption-wrapper {
    /*position*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    /*content*/
    text-align: start;
    justify-content: center;
  }

  .adoption-info .title {
    /*content*/
    font-size: 3rem;
  }

  .adoption-info .description {
    /*content*/
    font-size: 1.875rem;
  }
}